{% extends 'main.html' %}


{% block content %}



<div class="home-content">

        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class=" kebele-showcase d-flex justify-content-center align-items-center ">
            <div class="text-center">

                <h4>
                    Hirmata Mentina Kebele
                </h4>
                <p> we work for a change and development </p>
            </div>

            </div>
        </div>




    <div class="overview-boxes mt-2">
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Total Population</div>
                <div class="number">{{count_resident}}</div>
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Total population</span>
                </div>
            </div>
            <i class="bx bxs-group cart"></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Employee</div>
                <div class="number">{{count_employee}}</div>
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Total employee</span>
                </div>
            </div>
            <i class="bx bxs-user-detail cart two"></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Local Business</div>
                <div class="number">{{count_lb}}</div>
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Local businesses</span>
                </div>
            </div>
            <i class="bx bx-money cart three"></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Kebele House</div>
                <div class="number">{{count_kh}}</div>
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Kebele houses</span>
                </div>
            </div>
            <i class="bx bxs-building-house cart four"></i>
        </div>

    </div>
</div>

<br>
<br>
{% endblock content %}