{% extends 'main.html' %}

{% block content %}



<div class="home-content">
   
    <div class="overview-boxes">
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Total Population</div>
                <div class="number">{{count_resident}}</div>
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from last year</span>
                </div>
            </div>
            <i class="bx bxs-group cart"></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Employee</div>
                <div class="number">{{count_employee}}</div>
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from last year</span>
                </div>
            </div>
            <i class="bx bxs-user-detail cart two"></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Local Business</div>
                <div class="number">{{count_lb}}</div>
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from last year</span>
                </div>
            </div>
            <i class="bx bx-money cart three"></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Kebele House</div>
                <div class="number">{{count_kh}}</div>
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from last year</span>
                </div>
            </div>
            <i class="bx bxs-building-house cart four"></i>
        </div>
   {% for kebele in kebele %}
        <div class="box mt-2">
            
                <div class="right-side pt-2">
                    <div class="box-topic">Kebele: {{kebele.name}}</div>
                    <div class="box-topic">Woreda: {{kebele.woreda}}</div>
                    <div class="box-topic">Zone: {{kebele.zone}}</div>
                    <div class="box-topic">Region: {{kebele.region}}</div>
                </div>
        

            <!-- <i class="bx bxs-add-to-queue cart four"></i> -->
        </div>
        {% endfor%}
    </div>
</div>


{% endblock content %}