{% extends 'main.html' %}
{% load static %}
{% block content%}



  <div class="container">


<form action="" method="POST" id="form" name="myform"  enctype="multipart/form-data">
 {% csrf_token %}

   {% if card.resident %}

   <div>
    <label for="">Resident</label>

    <input required type="text" name="resident" list="resident-list" class="form-control" value="{{card.resident}}">
    <datalist id="resident-list">
      <select name="resident" id="id_resident">
      {{form.resident}}
    </datalist>
  </div>

  {% else %}

  <div>
   <p id="phone_number_error"></p>
  </div>
  <div>
    <label for="">Resident</label>

    <input required type="text" name="resident" list="resident-list" class="form-control" >
    <datalist id="resident-list">
      <select name="resident" id="id_resident">
      {{form.resident}}
    </datalist>
  </div>

  {% endif %}

  <div>
    <label for="">Emergency Contact Name</label>
    {{form.emergency}}
  </div>
   

  <div>
    <label for="">Emergency Contact's Phone Number</label>
    {{form.emergency_contact}}
  </div>
 <input type="submit" value="Save" class="btn btn-primary">
</form>

</div>


<br>
<br>

<script src="{% static 'vendors/id_validation.js' %}"></script>

{% endblock content%}