{% extends 'main.html' %}

{% block content %}

<h3>Qabeenya Lafaa Ganda kanaa</h3>

<a href="{% url 'add-kebele-land' %}">Lafa galmeessi</a>
<table>
    <thead>
        <th>Ballina</th>
        <th>Bakka argamaa</th>
    </thead>
    <tbody>
        {% for kebele_land in kebele_lands %}
        <tr>
            <td>{{ kebele_land.area}}</td>
            <td><a href="">Kaartaa ilaali</a></td>
            <td><a href="{% url 'update-kebele-land' kebele_land.id %}">Fooyyessi</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content%}