{% extends 'main.html' %}

{% block content %}


    <div class="container">
    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap5">
        <h3>Kebele Houses</h3>
        <a href="{% url 'see-map' %}"><button class="btn btn-outline-info">View on map</button></a> <br>

        
        <div class="d-flex justify-content-end mb-2">
            <div>
                <a href="{% url 'add-kebele-house' %}"><button class="btn btn-outline-info">   Add kebele house</button> </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table id="housetable" class="table dataTable table-bordered table-striped" style="width: 100%"
                    aria-describedby="example_info">
                    <thead>
                        <tr>
                            <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1"
                                colspan="1" style="width: 61.5833px" aria-sort="ascending"
                                aria-label="Name: activate to sort column descending">
                                House number
                            </th>

                            <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1"
                            colspan="1" style="width: 61.5833px" aria-sort="ascending"
                            aria-label="Name: activate to sort column descending">
                            Lives in
                        </th>

                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 82.8px" aria-label="Position: activate to sort column ascending">
                                Door
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 56.6833px" aria-label="Office: activate to sort column ascending">
                                Area
                            </th>

                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 30.2167px" aria-label="Age: activate to sort column ascending">
                                Registered at
                            </th>

                            <th rowspan="1" colspan="1" style="width: 62px">Actions</th>
                        </tr>
                    </thead> 
                    <tbody>
                        {% for kebele_house in kebele_houses %}
                        <tr class="odd">
                            <td>{{kebele_house.hnum}}</td>
                            <td>{{kebele_house.resident.first_name}} {{kebele_house.resident.last_name}}</td>
                            <td>{{kebele_house.door_number}}</td>
                            <td>{{kebele_house.area}}</td>
                            <td>{{kebele_house.created}}</td>

                            <td class="update-table">
                                <a href="{% url 'update-kebele-house' kebele_house.id %}"><button
                                        class="btn btn-sm btn-danger">Edit</button></a>
                                <a href="{% url 'see-house-in-map' kebele_house.id %}"><button class="btn btn-sm btn-info">View Map</button></a>
                            </td>
                        </tr>
                        {%endfor%}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">House number</th>
                            <th rowspan="1" colspan="1">Lives in</th>
                            <th rowspan="1" colspan="1">Door</th>
                            <th rowspan="1" colspan="1">Area</th>
                            <th rowspan="1" colspan="1">Registered at</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

      
    </div>


</div>


{% endblock content%}