{% extends 'main.html' %}

{% block content %}

<h4>manage resident</h4>
<a href="{% url 'add-resident' %}">Jiraataa galmeessi</a>

<table>
    <thead>
        <th>Maqaa</th>
        <th>Maqaa Abbaa</th>
        <th>Maqaa Akaakayyuu</th>
        <th>Umurii</th>
        <th>Saala</th>
    </thead>
    <tbody>
        {% for resident in residents %}
        <tr>
        <td>{{resident.first_name}}</td>
        <td>{{resident.middle_name}}</td>
        <td>{{resident.last_name}}</td>
        <td>{{resident.age}}</td>
        <td>{{resident.sex}}</td>
        <td><a href="{% url 'update-resident' resident.id %}">Fooyyessi</a></td>

          <!-- if resident.id in addresses -->
        <td><a href="{% url 'add-address' resident.id %}">Teessoo</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<br>
<hr>
<h3>Teessoo Jiraattotaa</h3>

<table>
    <thead>
        <th>Jiraataa</th>
        <th>Bilbila</th>
        <th>Imeeyilii</th>
        <th>Lakk manaa</th>
        <th>Ganda</th>
        <th>Magaalaa</th>
        <th>Godina</th>
        <th>Naannoo</th>
    </thead>
    <tbody>
        {% for address in addresses %}
        <tr>
        <td>{{address.resident.first_name}}</td>
        <td>{{address.phone_number}}</td>
        <td>{{address.email}}</td>
        <td>{{address.hnum}}</td>
        <td>{{address.kebele}}</td>
        <td>{{address.city}}</td>
        <td>{{address.zone}}</td>
        <td>{{address.region}}</td>
        <td><a href="{% url 'update-address' address.id %}">Fooyyessi</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock content%}