
<head>
                        <title>KDBMS</title>
                        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
crossorigin=""/>

                        
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
 integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
 crossorigin=""></script>
                      </head>
                      
                      {% extends 'main.html' %}
                    {% load static %}
                      
                      
                        {% block content %}

                        <br>
                        <br>
                        <br>
                        
                        <section class="map" id="map">
                            <div class="container">
                                <div class="section-title">
                                  <h2 class=" displayer map-header"> Mantina Kebele House</h2>
                                </div>

                                <div style="height:600px;" id="map"></div>

                              
                            </section>
                                         


<script type="text/javascript">
  let lat_lng = {{ kebele_house.lat_lng }} ;
  let house_lat = lat_lng[0];
  let house_lng = lat_lng[1];
window.onload = ()=>{
    search();
  }; 

  function search(){

//     var geojsonFeature = {
//     "type": "Feature",
//     "properties": {
//         "name": "Coors Field",
//         "amenity": "Baseball Stadium",
//         "popupContent": "This is where the Rockies play!"
//     },
//     "geometry": {
//         "type": "Point",
//         "coordinates": [-104.99404, 39.75621]
//     }
// };

//   var map = L.map('map').setView([8.13558142027241, 36.785265134017315], 4);
  var map = L.map('map').setView([7.667417,36.832250],17);

  L.tileLayer('http://{s}.google.com/vt/lyrs=s,p&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3'],
    attribution: '&copy; <a href="https://yai-devs.netlify.app/" target = "_blank">From Yai</a>'
}).addTo(map);


var kebele = [{
    "type": "Feature",
    "properties": {"Name": "Mantina Kebele"},
    "geometry": {
        "type": "Polygon",
     "coordinates": [[
            [36.832250, 7.666792],
  [36.832083, 7.666781],
  [36.831907, 7.666767],
  [36.831792, 7.666760],
  [36.831650, 7.666750],
  [36.831510, 7.666750],
  [36.831347, 7.666767],
  [36.831142, 7.666783],
  [36.831142, 7.666893],
  [36.831050, 7.666917],
  [36.830917, 7.666942],
  [36.830817, 7.666958],
  [36.830733, 7.666975],
  [36.830617, 7.666992],
  [36.830617, 7.667150],
  [36.830633, 7.667317],
  [36.830633, 7.667467],
  [36.830617, 7.667525],
  [36.830517, 7.667575],
  [36.830333, 7.667625],
  [36.830250, 7.667667],
  [36.830233, 7.667750],
  [36.830333, 7.667950],
  [36.830550, 7.668150],
  [36.830817, 7.668367],
  [36.831100, 7.668600],
  [36.831392, 7.668817],
  [36.831683, 7.669058],
  [36.831933, 7.669258],
  [36.832083, 7.669350],
  [36.832083, 7.669317],
  [36.832092, 7.669200],
  [36.832083, 7.669058],
  [36.832058, 7.668850],
  [36.832042, 7.668617],
  [36.832025, 7.668375],
  [36.832025, 7.668217],
  [36.832010, 7.668058],
  [36.831990, 7.667975],
  [36.831968, 7.667833],
  [36.831958, 7.667725],
  [36.831933, 7.667600],
  [36.831917, 7.667517],
  [36.831917, 7.667417]
        ]]
    }
}];

L.geoJSON(kebele, {
    style: function(feature) {
        switch (feature.properties.Name) {
            case 'Mantina Kebele':  return {color: "#0000ff", opacity: 0.7};
        }
    }
}).addTo(map);
/*let yourPosition = L.marker([value.coords.latitude, value.coords.longitude]).addTo(map);
       yourPosition.bindPopup("<b>You are here </b><br>").openPopup();
       var popup = L.popup(); */


      
  
 L.marker(
  L.latLng(
   house_lat,house_lng
  )
).addTo(map).bindPopup(`
 <div> 
 <h6> House Number:- {{kebele_house.hnum}}</h3>
 {% if kebele_house.resident %}
 
  {% if kebele_house.resident.photo %}
  <div class="row">
  <div class="col-lg-4">
             <img src="{{kebele_house.resident.photo.url}}" style="width:50px; width:60px; border-radius:5px; " alt="{{kebele_house.resident.first_name}}" />
  </div>
    {% endif %}
  <div class="col-lg-8">
        <span>Resident </span>{{kebele_house.resident.first_name }} {{kebele_house.resident.middle_name }} 
      {% else %}
   <p> No one lives here now </p>
{% endif %}
  </div>
  </div>
             

              
    
</div>
 
 `).openPopup();
  
     


  /* function onMapClick(e) {
           popup
               .setLatLng(e.latlng)
               .setContent("You clicked here")
               .openOn(map);
               // e.latlng.toString()
           
           
            let position1 = {}
            position1.lat = value.coords.latitude;
            position1.lng = value.coords.longitude;
          let  displayer  = document.querySelector(".displayer")
            displayer.innerHTML = `The clicked Point is ${position(position1,e.latlng)}m  away from you `;
           

       } */
  
      // map.on('click', onMapClick);
}
</script>     
{% endblock content %}
                        