
<head>
                        <title>KDBMS</title>
                        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
crossorigin=""/>

                        
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
 integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
 crossorigin=""></script>
                      </head>
                      
                      {% extends 'main.html' %}
                    {% load static %}
                      
                        {% block content %}

                        <br>
                        <br>
                        <br>

                        <br>

<div class="home-content">
  <div class="container">


<form action="" method="POST">
 {% csrf_token %}
 <label>House Number</label>
  <br>
    <input type="text" name="hnum" value={{kebele_house.hnum}} required>
    
 <br>
    <label>Door Number</label>
    <br>
    <input type="text" name="door_number" value={{kebele_house.door_number}} required>
     <br>
<label> Area</label><br>
<input type="text" name="area" value={{kebele_house.area}} required>
 <br>
<label for="cars">Who is Living in</label>
 <br>
<select name="resident" id="resident">
<option value="{{ kebele_house.resident.id}}">{{ kebele_house.resident.first_name }} {{ kebele_house.resident.middle_name }}</option>
    {% for resident in residents %}
  <option value="{{resident.id}}">{{ resident.first_name }} {{ resident.middle_name }}</option>
 {% endfor %}
 <option value="">Leave it open</option>
</select> 
    <input type="hidden" name="lat" id="lat" required>
    <input type="hidden" name="lng" id="lng" required>
 <br>
 <input type="submit" value="Save" class="btn btn-primary">
</form>

</div>
</div>

<br>
<br>

                        
                        <section class="none" id="none">
                            <div class="container">
                                <div class="section-title">
                                  <h2 class=" displayer none-header">select the house in map </h2>
                                </div>

                                <div style="height:300px;" id="map"></div>

                              
                            </section>
                                           


<script type="text/javascript">
  let lat_lng = {{ kebele_house.lat_lng }} ;
  let house_lat = lat_lng[0];
  let house_lng = lat_lng[1];
  document.getElementById('lat').value = house_lat;
  document.getElementById('lng').value = house_lng;
        
  
window.onload = ()=>{
    search();
  }; 

  function search(){

  var map = L.map('map').setView([7.673312617837222, 36.838995144155895],10);

  L.tileLayer('http://{s}.google.com/vt/lyrs=s,p&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3'],
    attribution: '&copy; <a href="https://yai-devs.netlify.app/" target = "_blank">From Yai</a>'
}).addTo(map);


var kebele = [{
    "type": "Feature",
    "properties": {"Name": "Mantina Kebele"},
    "geometry": {
        "type": "Polygon",
        "coordinates": [[
            [ 36.83539025395925, 7.669867573572341,],
            [ 37.830326243420465,7.669867573572366],
            [ 35.82912461380109 ,7.675821928238875],
            [36.9377076825109,7.78373768998414 ],
            [37.6379651745722,7.670888326006797],
            [ 36.83539025395925, 6.969867573572341,],
            [ 35.830326243420465,7.669867573572366],
            [ 34.82912461380109 ,8.175821928238875],
            [33.8377076825109,7.88373768998414 ],
            [36.8379651745722,7.670888326006797]
        ]]
    }
}];

L.geoJSON(kebele, {
    style: function(feature) {
        switch (feature.properties.Name) {
            case 'Mantina Kebele':  return {color: "#0000ff", opacity: 0.7};
        }
    }
}).addTo(map);
       var popup = L.popup(); 
  
       
 L.marker(
  L.latLng(
   house_lat,house_lng
  )
).addTo(map).bindPopup(`
 <div> 
 <h3> House Number:- {{kebele_house.hnum}}</h3>
 {% if kebele_house.resident %}
 
  {% if kebele_house.resident.photo %}
                <img src="{{kebele_house.resident.photo.url}}" style="width:70px; " alt="{{kebele_house.resident.first_name}}" />

                {% endif %}
            <span><h4>Resident:-</h4></span> <h5>  {{kebele_house.resident.first_name }}  {{kebele_house.resident.middle_name }} Lives in </h5>
{% else %}
<p> No one lives here now </p>
{% endif %}
</div>
 
 `).openPopup();
  
     



  function onMapClick(e) {
           popup
               .setLatLng(e.latlng)
               .setContent("selected Kebele house")
               .openOn(map);
          document.getElementById('lat').value = e.latlng.lat;
          document.getElementById('lng').value = e.latlng.lng;
        

       } 
  
    map.on('click', onMapClick);
}
</script>     
{% endblock content %}
                        