{% extends 'main.html' %}

{% block content %}

<div class="home-content">
    <div class="container">
        <div class="show-detail d-flex flex-column align-items-center bg-white">
            <div class="detail-photo">

            </div>
            <div class="detail info">
                <div>Owner: <a href="{% url 'view-resident' house.owner.id %}">{{house.owner.first_name}} {{house.owner.middle_name}} {{house.owner.last_name}} </a></div>
                <div>House number: {{house.hnum}}</div>
                <div>Door number: {{house.door_number}}</div>
                <div>Area: {{house.area}}</div>



            </div>
        </div>
    </div>
</div>


{% endblock content %}