{% extends 'main.html' %}

{% block content %}

<div class="home-content">
  <div class="container">
    <div class="show-detail d-flex flex-column  bg-white">
      <div class=" printed-part">

        <div class="detail-photo">
          {% if resident.photo %}
          <img src="{{resident.photo.url}}" alt="{{resident.first_name}}" />

          {% endif %}
        </div>
        <div class="detail info">



          <table class="table">

            <tbody>
              <tr>
                <th scope="row">Kebele</th>
                <td>{{resident.kebele.name}}</td>
              </tr>
              <tr>
                <th scope="row">Woreda</th>
                <td>{{resident.kebele.woreda}}</td>
              </tr>
              <tr>
                <th scope="row">Zone</th>
                <td>{{resident.kebele.zone}}</td>
              </tr>
              <tr>
                <th scope="row">Full name</th>
                <td>{{resident.first_name}} {{resident.middle_name}} {{resident.last_name}}</td>
              </tr>
              <tr>
                <th scope="row">Mother name</th>
                <td>{{resident.mother_name}}</td>
              </tr>

              <tr>
                <th scope="row">Phone number</th>
                {% if resident.phone_number %}
                <td>{{resident.phone_number}}</td>
                {% endif %}
              </tr>
              <tr>
                <th scope="row">Email</th>
                {% if resident.email %}
                <td>{{resident.email}}</td>
                {% endif %}
              </tr>

              <tr>
                <th scope="row">Age</th>
                <td>{{resident.age}}</td>
              </tr>
              <tr>
                <th scope="row">Sex</th>
                <td>{{resident.sex}}</td>
              </tr>
              <tr>
                <th scope="row">Education level</th>
                <td>{{resident.edu_level}}</td>
              </tr>
              <tr>
                <th scope="row">Nationality</th>
                <td>{{resident.nationality}}</td>
              </tr>
              <tr>
                <th scope="row">Religion</th>
                <td>{{resident.religion}}</td>
              </tr>
              <tr>
                <th scope="row">Occupation</th>
                <td>{{resident.occupation}}</td>
              </tr>

              <tr>
                <th scope="row">House number</th>
                <td>{{resident.address.hnum}}</td>
              </tr>
              <tr>
                <th scope="row">Zone</th>
                <td>{{resident.address.zone}}</td>
              </tr>
              <tr>
                <th scope="row">Local community</th>
                <td>{{resident.address.gooxii}}</td>
              </tr>

              <tr>
                <th scope="row">Group</th>
                <td>{{resident.address.garee}}</td>
              </tr>

            </tbody>
          </table>

        </div>
        <br>
        <br>
        <button id="printbtn" class="btn btn-sm btn-primary">Print</button>
        <br>
        <br>
      </div>
    </div>










  </div>
</div>


{% endblock content %}