

{% extends 'main.html' %}

{% block content %}

 


<div class="home-content">
    <div class="container">

        <div class="detail info">
            <div class="detail-photo">
                {% if profile.profile_picture %}
                <img src="{{profile.profile_picture.url}}" alt="{{profile.first_name}}" />

                {% endif %}
            </div>
            <div>Username: {{profile.user}} </div>
            <div>Full name: {{profile.first_name}} {{profile.last_name}}</div>
            {% if profile.phone_number %}
            <div>Phone number: {{profile.phone_number}} </div>
            {% else %}
            <div>Phone number: not added </div>
            {% endif %}
            <div>Email: {{profile.email}} </div>
            
            
            <br>
            <a href="{% url 'update-profile' %}">Update Profile</a>

        </div>

    </div>
   
</div>


   


    {% endblock content %}