{% extends 'main.html' %}

{% block content %}




<div class="home-content">
    <div class="container d-flex justify-content-center align-items-center">

        <div class="account-info mt-3 d-flex flex-column">
            <div class="detail-photo align-self-center m-2">
                {% if profile.profile_picture %}
                <img src="{{profile.profile_picture.url}}" alt="{{profile.first_name}}"
                    style="width: 150px; height: 150px; border-radius: 50%;" />

                {% endif %}
            </div>
            <div>Username:  <span class="acoount-info"> {{profile.user}}</span>     </div>
            <div>Full name: <span class="acoount-info">{{profile.first_name}} {{profile.last_name}}</span>  </div>
            {% if profile.phone_number %}
            <div>Phone number: <span class="acoount-info">{{profile.phone_number}}</span>   </div>
            {% else %}
            <div>Phone number: <span class="acoount-info"></span>  not added </div>
            {% endif %}
            <div>Email: <span class="acoount-info"> {{profile.email}}</span>  </div>


            <br>
            <a href="{% url 'update-profile' %}" class="btn btn-primary">Update Profile</a>



        </div>

    </div>

</div>





{% endblock content %}