
{% extends 'main.html' %}

{% block content %}



<div class="home-content">
<div class="container">
<section class="inbox">
    <h4 class="brand-logo center">INBOX</h4>
    <div class="container">

    <h5>New Messages ({{unreadCount}}) </h5>
        <ul class="messages">
            {% for message in messageRequests %}
            {% if message.is_read == False %}
            <div style="background-color:  rgb(201, 196, 196);">
            <a href="{% url 'message' message.id %}" ><li > 
                <p>{{message.subject}} 
                    <br>
                    <span>{{message.created}}</span> <br>
                    <span>By: {{message.sender.employee.first_name}} {{message.sender.employee.last_name}}</span>
                </p> 
     
                </li></a> </div>
            {% else %}
            
            <a href="{% url 'message' message.id %}" ><li>{{message.subject}} <br> 
                <span>{{message.created}}</span> <br>
                <span>By: {{message.sender.employee.first_name}} {{message.sender.employee.last_name}}</span>
            
            </li></a>
            {% endif %}
            {% endfor %}
        </ul>
    </div> 
</section>
</div>
</div>

{% endblock content%}