{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KDMS</title>
    <link href="{% static 'vendors/bootsrap/Bootsrapv5.2.0.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendors/style.css' %}" rel="stylesheet" />
</head>

<body>
    <section class="section mt-lg-3">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center flex-column gap-2">
                <div>
                    <h3 class="h3 text-dark">
                        Baga nagaan gara marsariitii bulchiinsa ganda mantiinaatti dhuftan!
                    </h3>
                </div>
                <div class="svg"></div>
                <div class="getstarted text-center">
                    <a href="{% url 'home' %} "><button class="btn btn-outline-primary">Get Started</button></a
            >
          </div>
        </div>
      </div>
    </section>

    <header>
      {% if request.user.is_authenticated%}
      <a href="{% url 'logout' %} ">bahi</a> |
                    <a href="{% url 'account' %} ">Account</a> | {% else %}
                    <a href="{% url 'login' %} ">seeni</a> |
                    <a href="{% url 'register' %} ">galmaa'i</a> | {% endif %}
                    </header>
</body>

</html>