{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hirmata Mantina KDMS</title>
    <link href="{% static 'vendors/bootsrap/Bootsrapv5.2.0.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendors/style.css' %}" rel="stylesheet" />
</head>


<div class="">
    <div class="container">
        {% if page == 'register' %}

        <div class="container d-flex justify-content-center align-items-center">
<div class="login-register mt-lg-2">
    <h4>Register</h4>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div>
            {% for field in form %} {{field.label}} {{field}} {% for error in field.errors %}

            <small style="color: red">{{error}}</small> {% endfor %} <br /> {%endfor%}
        </div>

        <input type="submit" value="Register" class="btn btn-primary" />
        <div>
            <a href="{% url 'login' %}" class="link-danger">Login</a>
        </div>
     
    </form>
</div>
         
        </div>
        {% else %}

      
        <div class="container d-flex justify-content-center  ">
            <div class="login-register mt-lg-3">
                <h4>Login</h4>
                <form action="" method="POST" class="form-group ">
                    {% csrf_token %}
                    <div>
                        <label for="" clas="label">Username</label>
                    </div>
                    <div>
                        <input type="text" name="username" class="form-control" />
                    </div>
                    <div>
                        <label for="" clas="label">Password

                        </label>
                    </div>
                    <div class="mb-2">
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <div>
                        <input type="submit" value="Login" class="btn btn-primary" />

                    </div>


                    <a href="{% url 'reset_password' %}">Forgot password?</a>
                </form>
                <div>

                    <p>Have an account?</p>
                </div>
                <div>
                    <a href="{% url 'register' %}" class="link-danger">Register</a>
                </div>
            </div>





        </div>
        {%endif%}
    </div>
</div>