{% extends 'main.html' %}

{% block content %}



<div class="home-content">
<div class="container">

    <section class="inbox">

        <h4 class="brand-logo center">MESSAGE BODY</h4>
        <div class="container">
          <div><a href="{% url 'inbox' %}">Back</a></div>
            <h6>{{message.subject}}</h6>
            <p><i>{{message.created_at}}</i></p>
            <p>{{message.body|linebreaksbr}}?</p>
            <p>To:
              {% for recipient in recipients %}
              {{recipient.employee.first_name}}, 
            {% endfor %}</p>
        </div>
      
      </section>
    </div>

</div>
</div>

    {% endblock content%}