

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hirmata Mantina KDMS</title>
    <link href="{% static 'vendors/bootsrap/Bootsrapv5.2.0.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendors/style.css' %}" rel="stylesheet" /> 
</head>



<body> 
    <div class="home-content">
        <div class="container">
<h1>Ooops!</h1>

<h2>You are in wrong address</h2>
        </div>
    </div>
</body>
</html>