{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hirmata Mantina KDMS</title>
    <link href="{% static 'vendors/bootsrap/Bootsrapv5.2.0.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendors/style.css' %}" rel="stylesheet" /> 



</head>



<body> 
    <div class="home-content">
        <div class="container">
<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="POST">
    {% csrf_token %}
   
    {{form.as_p}}

    <input type="submit" value="Submit">
</form>

</div>
    </div>
</body>
</html>
